header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0069a1;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: white;
  height: 400px;
}