.new-tweet{
  font-family: "Bungee";
  width:100%
}
.new-tweet-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max;
}
#tweetTextInput{
  font-family: "Source Sans 3";
}

.tweetCount{
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  margin-top: 5px;

}
#tweet-text{
  border-width: 0 0 5px 0;
  background:transparent;
  font-family: "Source Sans 3";
  border-bottom: solid black;
  resize: none;
  
}

.button{
  background-color: #4056A1;
  padding:5px;
}

.error-message{
  color: red;
  border: solid 5px red;
  display: none;
}
